<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!--  Meta tags for social media -->
    <meta property="og:title" content="{{currency_symbol}}{{amount}} from @{{sender}}">
    <meta property="og:image" content="https://al2114.github.io/dozo-site/claim/assets/og-image.jpg">
    <meta property="og:url" content="https://al2114.github.io/dozo-site/claim/index.html">
    <meta name="twitter:card" content="https://al2114.github.io/dozo-site/claim/assets/og-image.jpg">

    <link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="/css/style.css">

    <title>{{currency_symbol}}{{amount}} from @{{sender}} | Pesto Pay</title>
</head>
<body>

    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
                </li>
            </ul>
        </div>

        {{#if logged_in}}
        <div class="dropdown">
            <a href="#" class="my-2 dropdown-toggle pesto" data-toggle="dropdown">@{{username}} <span class="caret"></span></a>
            <ul class="dropdown-menu">
                <li><a href="#" onclick="logout();">Logout</a></li>
            </ul>
        </div>
        {{else}}
        <a href="/login?redirect=%2Fclaims%2F{{claim_id}}" class="my-2 light pesto">login / register</a>
        {{/if}}
    </nav>

    <div class="container main">
        <div class="row justify-content-center">
            <div class="logo col-3 col-sm-2 col-lg-1 justify-content-center"></div>
        </div>
        <div class="row justify-content-center">
            <div class="claim-card col-10 col-md-8 col-lg-6 align-self-center">
                <div class="claim-contents text-center">
                    <p class="text-center light align-middle">receive</p>
                    <h1 class="text-center highlight">{{currency_symbol}}{{amount}}</h1>
                    <p class="text-center">from <span class="highlight">@{{sender}}</span></p>
                    {{#if is_active}}
                        {{#if logged_in}}
                        <a href="/claims/confirm/{{claim_id}}" class="btn center-block btn-pesto">Confirm</a>
                        {{else}}
                        <a href="/login?redirect=%2Fclaims%2Fconfirm%2F{{claim_id}}" class="btn center-block btn-pesto">Confirm</a>
                        {{/if}}
                    {{else}}
                    <div class="btn disabled center-block btn-pesto claimed">Claimed</div>
                    {{/if}}
                </div>
            </div>
        </div>
    </div>

    <script src="/scripts/jquery-3.3.1.min.js"></script>
    <script src="/scripts/popper.min.js"></script>
    <script src="/scripts/bootstrap.min.js"></script>
    <script src="/scripts/script.js"></script>
</body>
</html>
